<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693225996301-1k2pp3ksrop09u69n2p0k5q8rf661va9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693225996301-1k2pp3ksrop09u69n2p0k5q8rf661va9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>693225996301-vt4e7mauupr09vvbj1vtkp6hom6s9ifc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2eSuDJoy5Mcry16M-fU8zpe0Qzqz3EEw</string>
	<key>GCM_SENDER_ID</key>
	<string>693225996301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterapp.ios</string>
	<key>PROJECT_ID</key>
	<string>master-app-5bd23</string>
	<key>STORAGE_BUCKET</key>
	<string>master-app-5bd23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693225996301:ios:848559184f0fd8154d9544</string>
	<key>DATABASE_URL</key>
	<string>https://master-app-5bd23.firebaseio.com</string>
</dict>
</plist>