<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cities</key>
	<string>cities</string>
	<key>postProviderService</key>
	<string>provider-services</string>
	<key>updateOrderState</key>
	<string>orders/{orderId}/update/{stateId}</string>
	<key>getServiceCategories</key>
	<string>services/categories</string>
	<key>updateProviderPhoto</key>
	<string>provider/profile/photo</string>
	<key>registerProvider</key>
	<string>provider</string>
	<key>getProviderPhoto</key>
	<string>provider/profile/photo</string>
	<key>getProviderProfile</key>
	<string>provider/profile</string>
	<key>logout</key>
	<string>login/logout</string>
	<key>addComment</key>
	<string>orders/comments</string>
	<key>payOrder</key>
	<string>orders/pay</string>
	<key>deleteCards</key>
	<string>cards</string>
	<key>validateOrderRatingById</key>
	<string>orders/comments/validate/{orderId}</string>
	<key>getOrderServicesById</key>
	<string>orders/{orderId}/services</string>
	<key>getOrderById</key>
	<string>orders/{orderId}</string>
	<key>postOrder</key>
	<string>orders</string>
	<key>getCommentsByProviderId</key>
	<string>orders/comments/provider/{providerId}</string>
	<key>providerServicesByCategoryId</key>
	<string>provider-services/provider/{providerId}/category/{categoryId}</string>
	<key>providerProfileByUserId</key>
	<string>provider/profile/{userId}</string>
	<key>serviceDetail</key>
	<string>provider/service/category/{id}/city/{cityId}</string>
	<key>userOrders</key>
	<string>orders/user</string>
	<key>updatePushToken</key>
	<string>user/push-token/{token}</string>
	<key>services</key>
	<string>services</string>
	<key>register</key>
	<string>register</string>
	<key>gmailLogin</key>
	<string>login/gmail</string>
	<key>appleLogin</key>
	<string>login/apple</string>
	<key>emailLogin</key>
	<string>login</string>
	<key>getUserSession</key>
	<string>user</string>
	<key>validateSession</key>
	<string>login/validate</string>
	<key>serverStatus</key>
	<string>server/ios</string>
	<key>getProviderOrders</key>
	<string>orders/provider</string>
	<key>postProviderInfo</key>
	<string>provider-data/</string>
	<key>getProviderInfoByProviderId</key>
	<string>provider-data/{providerId}</string>
	<key>updateProviderInfo</key>
	<string>provider-data/update/{providerId}</string>
	<key>deleteProviderInfo</key>
	<string>provider-data/delete/{providerId}</string>
	<key>getProviderServices</key>
	<string>provider-services</string>
</dict>
</plist>
