<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cities</key>
	<string>v1/cities</string>
	<key>postProviderService</key>
	<string>v1/provider-services</string>
	<key>putProviderService</key>
	<string>v1/provider-services/{serviceId}</string>
	<key>deleteProviderService</key>
	<string>v1/provider-services/{serviceId}</string>
	<key>updateOrderState</key>
	<string>v2/orders/state</string>
	<key>getServiceCategories</key>
	<string>v1/services/categories</string>
	<key>updateProviderPhoto</key>
	<string>v1/provider/profile/photo</string>
	<key>registerProvider</key>
	<string>v1/provider</string>
	<key>editProvider</key>
	<string>v2/provider/profile</string>
	<key>getProviderPhoto</key>
	<string>v1/provider/profile/photo</string>
	<key>getProviderProfile</key>
	<string>v1/provider/profile</string>
	<key>logout</key>
	<string>v1/login/logout</string>
	<key>addComment</key>
	<string>v1/orders/comments</string>
	<key>payOrder</key>
	<string>v1/orders/pay</string>
	<key>deleteCards</key>
	<string>v1/cards</string>
	<key>validateOrderRatingById</key>
	<string>v1/orders/comments/validate/{orderId}</string>
	<key>getOrderServicesById</key>
	<string>v1/orders/{orderId}/services</string>
	<key>getOrderById</key>
	<string>v1/orders/{orderId}</string>
	<key>postOrder</key>
	<string>v1/orders</string>
	<key>getCommentsByProviderId</key>
	<string>v1/orders/comments/provider/{providerId}</string>
	<key>providerServicesByCategoryId</key>
	<string>v1/provider-services/provider/{providerId}/category/{categoryId}</string>
	<key>providerProfileByUserId</key>
	<string>v1/provider/profile/{userId}</string>
	<key>serviceDetail</key>
	<string>v1/provider/service/category/{id}/city/{cityId}</string>
	<key>userOrders</key>
	<string>v1/orders/user</string>
	<key>updatePushToken</key>
	<string>v1/user/push-token/{token}</string>
	<key>services</key>
	<string>v1/services</string>
	<key>register</key>
	<string>v1/register</string>
	<key>gmailLogin</key>
	<string>v1/login/gmail</string>
	<key>appleLogin</key>
	<string>v1/login/apple</string>
	<key>emailLogin</key>
	<string>v1/login</string>
	<key>getUserSession</key>
	<string>v1/user</string>
	<key>validateSession</key>
	<string>v1/login/validate</string>
	<key>serverStatus</key>
	<string>v1/server/ios</string>
	<key>getProviderOrders</key>
	<string>v1/orders/provider</string>
	<key>postProviderInfo</key>
	<string>v1/provider-data/</string>
	<key>getProviderInfoByProviderId</key>
	<string>v1/provider-data/{providerId}</string>
	<key>updateProviderInfo</key>
	<string>v1/provider-data/update/{providerId}</string>
	<key>deleteProviderInfo</key>
	<string>v1/provider-data/delete/{providerId}</string>
	<key>getProviderServices</key>
	<string>v1/provider-services</string>
</dict>
</plist>
