<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCommentsByProviderId</key>
	<string>orders/comments/provider/{providerId}</string>
	<key>providerServicesByCategoryId</key>
	<string>provider-services/provider/{providerId}/category/{categoryId}</string>
	<key>providerProfileByUserId</key>
	<string>provider/profile/{userId}</string>
	<key>serviceDetail</key>
	<string>provider/service/category/{id}</string>
	<key>userOrders</key>
	<string>orders/user</string>
	<key>updatePushToken</key>
	<string>user/push-token/{token}</string>
	<key>services</key>
	<string>services</string>
	<key>register</key>
	<string>register</string>
	<key>gmailLogin</key>
	<string>login/gmail</string>
	<key>emailLogin</key>
	<string>login</string>
	<key>getUserSession</key>
	<string>user</string>
	<key>validateSession</key>
	<string>login/validate</string>
	<key>serverStatus</key>
	<string>server/ios</string>
</dict>
</plist>
